.weazeePropertiesItem {
  display: flex;
}

.weazeePropertiesItemTitle {
  margin-left: 18px;
}

.weazeePropertiesItemTitleName {
  margin-bottom: 8px;
  color: #d7d7d7;
  font-weight: 500;
  font-size: 18px;
}

.weazeePropertiesItemTitleValue {
  color: #fff;
  font-weight: 600;
  font-size: 32px;
}
