.weazeePropertiesItem {
  display: flex;
}

.weazeePropertiesItemTitle {
  margin-left: 18px;
}

.weazeePropertiesItemTitleName {
  margin-bottom: 8px;
  font-weight: 500;
  font-size: 1.1rem;
}

.weazeePropertiesItemTitleValue {
  font-weight: 600;
  font-size: 2rem;
}
