@import "assets/styles/variables";

.weazeeForecasts {
  position: relative;
  display: grid;
  grid-template-columns: minmax(0, 1fr) 200px;
}

.weazeeForecastsSwiper {
  display: flex;
}

.weazeeForecastsNavigation {
  z-index: 100;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-right: 40px;
  padding-left: 40px;
}

.weazeeForecastsItemWrapper {
  display: flex;
  align-items: center;
}

.weazeeForecastsItem {
  padding-right: 30px;
  padding-left: 30px;
}

.weazeeForecastsNavigationButton {
  width: 50px;
  height: 50px;
  background-color: rgba($black, 0.3);
  border: none;
  border-radius: 50%;
  cursor: pointer;

  &::after {
    display: inline-block;
    padding: 4px;
    border: solid $white;
    border-width: 0 4px 4px 0;
    content: "";
  }
}

.weazeeForecastsNavigationButtonPrev {
  &::after {
    transform: rotate(135deg) translateY(-2px);
  }
}

.weazeeForecastsNavigationButtonNext {
  &::after {
    transform: rotate(-45deg) translateX(-2px);
  }
}
