.app {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
}

.appTitle {
  width: 100px;
  height: 100px;
  padding-top: 5px;
  padding-left: 5px;
  background-color: aquamarine;
}
