@import "reset-css";
@import "swiper/swiper";
@import "assets/styles/variables";

html {
  color: $white;
  font-size: 18px;
}

body {
  font-family: Poppins, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
